@if (post) {
  <article class="post-item">
    <h3 class="title">{{ post.title }}</h3>
    <p class="content">{{ post.content }}</p>
    <div class="meta">
      <span class="badge rounded-pill" [ngClass]="post.category?.name ? 'text-bg-light' : 'text-bg-secondary'">
        {{ post.category?.name || 'Sans categorie' }}
      </span>
      <span *ngIf="post.createdDate">{{ post.createdDate | date: 'medium' }}</span>
      <span *ngIf="!post.createdDate">Post #{{ post.id }}</span>
    </div>
  </article>
}
